In [47]:
import pandas as pd

In [48]:
#Read CSV file
df=pd.read_csv('car-data.csv')

In [49]:
df.shape

(301, 9)

In [50]:
print(df['Seller_Type'].unique())
print(df['Fuel_Type'].unique())
print(df['Transmission'].unique())
print(df['Owner'].unique())

['Dealer' 'Individual']
['Petrol' 'Diesel' 'CNG']
['Manual' 'Automatic']
[0 1 3]

In [51]:
##check missing values
df.isnull().sum()

Car_Name         0
Year             0
Selling_Price    0
Present_Price    0
Kms_Driven       0
Fuel_Type        0
Seller_Type      0
Transmission     0
Owner            0
dtype: int64

In [52]:
df.describe()

              Year  Selling_Price  Present_Price     Kms_Driven       Owner
count   301.000000     301.000000     301.000000     301.000000  301.000000
mean   2013.627907       4.661296       7.628472   36947.205980    0.043189
std       2.891554       5.082812       8.644115   38886.883882    0.247915
min    2003.000000       0.100000       0.320000     500.000000    0.000000
25%    2012.000000       0.900000       1.200000   15000.000000    0.000000
50%    2014.000000       3.600000       6.400000   32000.000000    0.000000
75%    2016.000000       6.000000       9.900000   48767.000000    0.000000
max    2018.000000      35.000000      92.600000  500000.000000    3.000000

In [53]:
final_dataset=df[['Year','Selling_Price','Present_Price','Kms_Driven','Fuel_Type','Seller_Type','Transmission','Owner']]

In [54]:
final_dataset.head()

   Year  Selling_Price  Present_Price  ...  Seller_Type Transmission Owner
0  2014           3.35           5.59  ...       Dealer       Manual     0
1  2013           4.75           9.54  ...       Dealer       Manual     0
2  2017           7.25           9.85  ...       Dealer       Manual     0
3  2011           2.85           4.15  ...       Dealer       Manual     0
4  2014           4.60           6.87  ...       Dealer       Manual     0

[5 rows x 8 columns]

In [55]:
final_dataset['Current Year']=2021

In [56]:
final_dataset.head()

   Year  Selling_Price  Present_Price  ...  Transmission Owner Current Year
0  2014           3.35           5.59  ...        Manual     0         2021
1  2013           4.75           9.54  ...        Manual     0         2021
2  2017           7.25           9.85  ...        Manual     0         2021
3  2011           2.85           4.15  ...        Manual     0         2021
4  2014           4.60           6.87  ...        Manual     0         2021

[5 rows x 9 columns]

In [57]:
final_dataset['no_year']=final_dataset['Current Year']- final_dataset['Year']

In [58]:
final_dataset.head()

   Year  Selling_Price  Present_Price  ...  Owner Current Year no_year
0  2014           3.35           5.59  ...      0         2021       7
1  2013           4.75           9.54  ...      0         2021       8
2  2017           7.25           9.85  ...      0         2021       4
3  2011           2.85           4.15  ...      0         2021      10
4  2014           4.60           6.87  ...      0         2021       7

[5 rows x 10 columns]

In [59]:
final_dataset.drop(['Year'],axis=1,inplace=True)

In [60]:
final_dataset.head()

   Selling_Price  Present_Price  Kms_Driven  ... Owner Current Year no_year
0           3.35           5.59       27000  ...     0         2021       7
1           4.75           9.54       43000  ...     0         2021       8
2           7.25           9.85        6900  ...     0         2021       4
3           2.85           4.15        5200  ...     0         2021      10
4           4.60           6.87       42450  ...     0         2021       7

[5 rows x 9 columns]

In [61]:
final_dataset=pd.get_dummies(final_dataset,drop_first=True)

In [62]:
final_dataset.head()

   Selling_Price  Present_Price  ...  Seller_Type_Individual  Transmission_Manual
0           3.35           5.59  ...                       0                    1
1           4.75           9.54  ...                       0                    1
2           7.25           9.85  ...                       0                    1
3           2.85           4.15  ...                       0                    1
4           4.60           6.87  ...                       0                    1

[5 rows x 10 columns]

In [63]:
final_dataset=final_dataset.drop(['Current Year'],axis=1)

In [64]:
final_dataset.head()

   Selling_Price  Present_Price  ...  Seller_Type_Individual  Transmission_Manual
0           3.35           5.59  ...                       0                    1
1           4.75           9.54  ...                       0                    1
2           7.25           9.85  ...                       0                    1
3           2.85           4.15  ...                       0                    1
4           4.60           6.87  ...                       0                    1

[5 rows x 9 columns]

In [65]:
final_dataset.corr()

                        Selling_Price  ...  Transmission_Manual
Selling_Price                1.000000  ...            -0.367128
Present_Price                0.878983  ...            -0.348715
Kms_Driven                   0.029187  ...            -0.162510
Owner                       -0.088344  ...            -0.050316
no_year                     -0.236141  ...            -0.000394
Fuel_Type_Diesel             0.552339  ...            -0.098643
Fuel_Type_Petrol            -0.540571  ...             0.091013
Seller_Type_Individual      -0.550724  ...             0.063240
Transmission_Manual         -0.367128  ...             1.000000

[9 rows x 9 columns]

In [66]:
import seaborn as sns

In [ ]:
sns.pairplot(final_dataset)

In [ ]:

import seaborn as sns
#get correlations of each features in dataset
corrmat = df.corr()
top_corr_features = corrmat.index
plt.figure(figsize=(20,20))
#plot heat map
g=sns.heatmap(df[top_corr_features].corr(),annot=True,cmap="RdYlGn")

In [ ]:
X=final_dataset.iloc[:,1:]
y=final_dataset.iloc[:,0]

In [ ]:
X['Owner'].unique()

In [ ]:
X.head()

In [ ]:
y.head()

In [ ]:
### Feature Importance

from sklearn.ensemble import ExtraTreesRegressor
import matplotlib.pyplot as plt
model = ExtraTreesRegressor()
model.fit(X,y)

In [ ]:
print(model.feature_importances_)

In [ ]:
#plot graph of feature importances for better visualization
feat_importances = pd.Series(model.feature_importances_, index=X.columns)
feat_importances.nlargest(5).plot(kind='barh')
plt.show()

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

In [ ]:
from sklearn.ensemble import RandomForestRegressor

In [ ]:
regressor=RandomForestRegressor()

In [ ]:
n_estimators = [int(x) for x in np.linspace(start = 100, stop = 1200, num = 12)]
print(n_estimators)

In [ ]:
from sklearn.model_selection import RandomizedSearchCV

In [ ]:
 #Randomized Search CV

# Number of trees in random forest
n_estimators = [int(x) for x in np.linspace(start = 100, stop = 1200, num = 12)]
# Number of features to consider at every split
max_features = ['auto', 'sqrt']
# Maximum number of levels in tree
max_depth = [int(x) for x in np.linspace(5, 30, num = 6)]
# max_depth.append(None)
# Minimum number of samples required to split a node
min_samples_split = [2, 5, 10, 15, 100]
# Minimum number of samples required at each leaf node
min_samples_leaf = [1, 2, 5, 10]

In [ ]:
# Create the random grid
random_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf}

print(random_grid)

In [ ]:
# Use the random grid to search for best hyperparameters
# First create the base model to tune
rf = RandomForestRegressor()

In [ ]:
# Random search of parameters, using 3 fold cross validation, 
# search across 100 different combinations
rf_random = RandomizedSearchCV(estimator = rf, param_distributions = random_grid,scoring='neg_mean_squared_error', n_iter = 10, cv = 5, verbose=2, random_state=42, n_jobs = 1)

In [ ]:
rf_random.fit(X_train,y_train)

In [ ]:
rf_random.best_params_

In [ ]:
rf_random.best_score_

In [ ]:
predictions=rf_random.predict(X_test)

In [ ]:
sns.distplot(y_test-predictions)

In [ ]:
plt.scatter(y_test,predictions)

In [ ]:
from sklearn import metrics

In [ ]:
print('MAE:', metrics.mean_absolute_error(y_test, predictions))
print('MSE:', metrics.mean_squared_error(y_test, predictions))
print('RMSE:', np.sqrt(metrics.mean_squared_error(y_test, predictions)))

In [ ]:
import pickle
# open a file, where you ant to store the data
file = open('random_forest_regression_model.pkl', 'wb')

# dump information to that file
pickle.dump(rf_random, file)